header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to bottom, #ffffffe7, #ffffff44), url(../img/hero\ salon\ de\ masaj.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 950px;
}
